In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
nuts3 = pd.read_csv("./data/nuts3.csv", index_col = 0)
nuts3.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
GEO,,,,,,,,,,,,,,,,,,,
AL011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140956.0,137722.0,134332.0,131054.0,129056.0,125579.0,120978.0
AL012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,271947.0,274029.0,276058.0,277989.0,280205.0,284823.0,289626.0
AL013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87762.0,86082.0,84306.0,82428.0,81294.0,79559.0,77395.0
AL014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,137782.0,135703.0,133748.0,131829.0,130258.0,129019.0,126800.0
AL015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,222611.0,219548.0,216477.0,213148.0,210168.0,207924.0,204994.0

In [11]:
n3data = nuts3.loc[:, '2005':'2017'].dropna().values

In [12]:
def get_linreg_preds(X, start_year, end_year):
    res = []
    xs = np.arange(start_year, end_year)
    for ys in X:
        slope, intercept, r_value, p_value, std_err = stats.linregress(xs,ys)
        squared_error = np.square(y[0] - (intercept + slope * end_year))
        res.append(round(intercept + slope * end_year))
    return np.array(res)